
<div class="row">
    <div class="col-10">
        <label for="profileName">Prediction name</label>
        <input type="text" class="form-control is-valid d-inline" [class.is-valid]="isvalidPrediction" [class.is-invalid]="!isvalidPrediction" id="profileName" [(ngModel)]="this.predictName" (ngModelChange)="predictNameChange()" required>
        <div class="valid-feedback">
            Valid Name!
        </div>
        <div class="invalid-feedback">
            The name of the prediction is invalid or already exist!
        </div>
    </div>  
    <div class="col-2 d-inline">
        <button data-toggle="popover" data-trigger="hover" [disabled]="!this.isValidCompound || !this.isvalidPrediction " (click)="selectOption()" style="margin-top: 2.23rem;"  class="btn btn-ets-do">Predict</button>
        </div>
</div>
