.voidDiv {
  width: 55%;
}

.btn-ets-up {
  background: #0076a3;
  color: #ffffff;
  border-width: 0;
  font-family: "Barlow Semi Condensed", "Arial", "Helvetica";
  letter-spacing: 0.05em;
  border-radius: 0;
}

.btn-ets-down {
  background: #e9a933;
  color: #ffffff;
  border-width: 0;
  font-family: "Barlow Semi Condensed", "Arial", "Helvetica";
  letter-spacing: 0.05em;
  border-radius: 0;
}


.form-row {
  align-items: center;
}


.table {
  background-color: white;
  background: white;
  color: #22577A;
}

table td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.card-body {
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.card {
  border-width: 0px;
}

#container {
  display: flex;
  height: 500px; 
  justify-content: space-between;
  align-items: center;
}

.text-etransafe {
  color:#e59300;
}

.spinner-border {
  position: absolute; 
  display: block;
  right: 45%; 
  top: 35%; 
  z-index: 1031;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FAFAFA;
  opacity: 0.6;
  z-index: 2;
  cursor: pointer;
}
