<div class="btn-toolbar mt-3 mb-3 ml-4" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-ets-up" (click)="curationSettings()">New</button>
        <button type="button" class="btn btn-ets-do">Delete</button>
    </div>
</div>
<!-- if no info from the endpoint the table will be hidden-->
<!-- <div id="overlay" *ngIf="!this.globals.tableCurationVisible">
    <div class="spinner-border text-etransafe" style="width: 10rem; height: 10rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div> -->