<div class="row align-items-centermt-4">
    <div class="col-6" id="inputSmilesContainer">
        <label for="inputSmiles">
            Valid file formats: excel, csv.
        <input type="file" name="inputSmiles" id="inputSmiles">
        <button type="submit" id="inputSmilesButton" class="btn-ets-up"> Send </button>
        </label>
        <input type="text" name="column" id="smilesColumn"> Please enter the column name (please double check the spelling) where the SMILES are listed.


    </div>
    <div class="col-6" id="smilesCurated">
        <table>
            <th>table</th>
        </table>
    </div>
</div>