<div class="row align-items-centermt-4">
    <div class="col-6" id="inputSmilesContainer">
        <p> Upload a file containing the SMILES. Valid file formats: ***********.</p>
        <label for="inputSmiles" class="btn btn-ets-up mb-0"> Upload
        <input type="file" name="inputSmiles" id="inputSmiles">
        </label>
        <br>
        <br>
        <input type="text" name="column" id="smilesColumn"> Enter the column name where the SMILES are listed. (Please double check the spelling)
        <br>
        <br>
        <button type="submit" id="inputSmilesButton" class="btn-ets-down"> Send </button>

    </div>
    <div class="col-6" id="smilesCurated">
        <table>
            <th>table</th>
        </table>
    </div>
</div>