

<div class="modal-header">
  <h5 class="modal-title">Predict using model <span class="model_name">{{this.modelName}} ver.{{this.version}}</span></h5>
  <button type="button" class="close" aria-label="Cancel" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="container mt-1">
    
    
    <div class="row">
      <div class="col-10">
        <label for="inputGroupFile01">Input file</label>
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01" onchange="this.nextElementSibling.innerText = this.files[0].name" 
            (change)="change($event.target.files)">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            <small class="text-muted">Enter a SDFile format input file.</small>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary" (click)="predict()" [disabled]="(this.modelName==''|| this.file==undefined )">Predict</button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-10">
        <label for="inputGroupFile01">Draw input structure</label>
        <div class="form-group">
           <div id="jsme_container"></div>
           <small class="text-muted">Enter a molecular structure (one molecule max.).</small>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary" onclick="alert(jsmeApplet.molFile())" >Predict</button>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <label for="predictionName">Prediction name</label>
        <input type="text" class="form-control is-invalid" [class.is-valid]="isvalid"  [class.is-invalid]="!isvalid"
         id="predictionName" [(ngModel)]="predictName"  (ngModelChange)="predictNameChange()" required>
        <div class="valid-feedback">
          Valid Name!
        </div>
        <div class="invalid-feedback">
          The name of the prediction is invalid or already exist!
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
<!-- <button type="button" class="btn btn-primary" (click)="predict()" [disabled]="(this.modelName==''|| this.file==undefined )">Predict</button> -->
</div>


