a:hover {
    background: #E7E7E7;
}

a.active {
    background: #EBAB39;
    border-bottom: 1px solid #0076a3;
}
a {
    background:#22577a;
    color: #f7f9ea;
    border-bottom: 1px solid #0076a3;
}
   
.formControl{
    font-family: 'Barlow Semi Condensed', 'sans-serif';
    font-size: 20px;
}
.wrap {
    cursor:not-allowed;
}
a.disabled{
    background:#22577a;
    pointer-events: none;
    color: #f7f9ea; 
}
.minitable {
    background-color: white;
    background: white;
    color: #22577A;
    width: 400px;
    /* border: 1px solid #999999; */
  }
  .minitable td{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 12px;
    border-bottom: 1px solid #B8DCED;
    vertical-align: middle;
  }

