<!--author: Rodrigo Lorenzo Lorenzo 12-03-2021-->
<div *ngIf="this.curation.error=='No file sent'" class="alert alert-warning text-center" role="alert">
    <span class="font-weight-bolder">WARNING: </span>Curation created but not executed. No information to show.
</div>

<div class="row"  *ngIf="this.curation.error!='No file sent'">
    <div class="card w-100" style="min-height: 600px">

        
        <div class="card-body" *ngIf="this.curation.error!='No file sent'">
            
            <div id="overlay" *ngIf="!this.globals.tableCurationHead">
                <div class="spinner-border text-etransafe"  style="width: 10rem; height: 10rem;"  role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>

            <span class='model_name'>{{this.curationName}}</span>

            <div id="container" >
                <div id="plotpie">
                    <plotly-plot
                        [data]="plotPie.data"
                        [layout]="plotPie.layout"
                        [config]="plotPie.config">
                    </plotly-plot>
                </div>
                <div id="plotbar">
                    <plotly-plot
                        [data]="plotSummary.data"
                        [layout]="plotSummary.layout"
                        [config]="plotSummary.config">
                    </plotly-plot>
                </div>
            </div>

            <div class="row" id="curationResultsDiv" *ngIf="this.curation.head">
                <div class="col-sm-12">
                    <table id="curationResults" class="table"
                        *ngIf="this.curation.head[this.curation.parameters['molecule_identifier']]!==undefined" 
                        [hidden]="!this.globals.tableCurationHead">
                        <thead>
                            <tr>
                                <th style="width: 10%;">CAS-RN</th>
                                <th style="width: 20%">Structure curated</th>
                                <th style="width: 40%">Structure</th>
                                <th style="width: 30%">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let res of this.curation.head.substance_type_name;let i=index">
                                <td >{{this.curation.head[this.curation.parameters['molecule_identifier']][i]}}</td>
                                <td ><canvas #sml id="{{i}}">{{this.curation.head["structure_curated"][i]}}</canvas></td>
                                <td >{{this.curation.head[this.curation.parameters["structure_column"]][i]}}</td>
                                <td >{{this.curation.head['substance_type_name'][i]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
