#plotpie {
  padding: 0.5em;
  margin-top: 0em;
}

#plotbar {
  padding: 0.5em;
  margin-top: 0em;
}

#container {
  display: flex;
  height: 400px; 
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.title {
  color: #0076a3;
}

.card {
  overflow: auto;
  max-width: 60vw;
  border-width: 0px;
}

.card-body {
  margin-left: 10px;
  overflow: auto;
  /* width: 100%; */
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.table {
  background-color: white;
  background: white;
  color: #22577A;
  /* table-layout: fixed; */
  width: 100%;
}
.table th{
  padding-left: 1px;
  padding-right: 1px;
  border-bottom: 1px solid #B8DCED;
  color:#0076a3;
}
.table td{
  padding: 5px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border-bottom: 1px solid #B8DCED;
  vertical-align: middle;
}
tr {
  cursor: pointer;
}

tr.selected {
  background: #f7f9ea;
}
.table tbody tr:hover {
  background: #f7f9ea;
}

ul li.nav-item a {
  background: white;
  color: #0076a3;
  font-size: 1.2rem;
}

#curation{
    width: fit-content;
    position: center;
    padding: 3px;
}

#downloadFile{
    height: fit-content;
    margin-left: 10%;
    border-radius: 5%;
}

.text-etransafe {
  color:#e59300;
}

.spinner-border {
  position: absolute; 
  display: block;
  right: 45%; 
  top: 100%; 
  z-index: 1031;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FAFAFA;
  opacity: 0.7;
  z-index: 2;
  cursor: pointer;
}