<!--author: Rodrigo Lorenzo Lorenzo 12-03-2021-->
<div *ngIf="this.curation.error=='No file sent'" class="alert alert-warning
    text-center" role="alert">
    <span class="font-weight-bolder">WARNING: </span>Curation created but not
    executed. No information to show.
</div>
<div class="title">
    <h5>{{this.curationName}}</h5>
</div>

<div class="container" *ngIf="this.curation.error!='No file sent'">

    <div id="plotpie">
        <plotly-plot
            [data]="plotPie.data"
            [layout]="plotPie.layout"
            [config]="plotPie.config">
        </plotly-plot>
    </div>

    <div id="plotbar">
        <plotly-plot
            [data]="plotSummary.data"
            [layout]="plotSummary.layout"
            [config]="plotSummary.config">
        </plotly-plot>
    </div>
    <div class="row" id="curationTable" *ngIf="this.curation.head">
        <div class="col-sm-12">
            <table id="curation" class="table table table-sm"
                *ngIf="this.curation.head[this.curation.parameters['molecule_identifier']]!==undefined" [hidden]="!this.globals.tableCurationHead">
                <thead>
                    <tr style="line-height: 90px;">
                        <th style="width: 15% !important;">CAS-RN</th>
                        <th style="width: 15% !important" >Structure curated</th>
                        <th style="width: 15% !important">Structure</th>
                        <th style="width: 15% !important">Substance type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of this.curation.head.substance_type_name;let i= index">
                        <td >{{this.curation.head[this.curation.parameters['molecule_identifier']][i]}}</td>
                        <td ><canvas #sml
                                [attr.id]="'this_canvas' + i">{{this.curation.head["structure_curated"][i]}}</canvas></td>
                        <td >{{this.curation.head[this.curation.parameters["structure_column"]][i]}}</td>
                        <td >{{this.curation.head['substance_type_name'][i]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--<div class="accordion mt-3" id="curatingAccordion">
       START INPUT FILE-->
    <!--<div class="card">
                 <div class="card-header" id="headingCurDoc"
                    data-toggle="collapse"
                    data-target="#collapseCurDoc" aria-expanded="true"
                    aria-controls="collapseCurDoc">
                    <h5 class="mb-0">
                        Curation Documentation ({{this.curationName}})
                        <button class="btn btn-link pt-0 pb-0 float-right"
                            type="button"></button>
                    </h5>
                </div> -->
    <!-- <div id="collapseCurDoc" class="collapse"
                    aria-labelledby="collapseCurDoc"
                    data-parent="#curatingAccordion">
                    <div class="card-body p-2 pl-5 pr-5">
                        <div class="row">
                        <table class="tableCurated">
                            <div *ngFor="let header of
                                objectKeys(this.curation.head)">
                                <thead>ERROR TypeError: c[k] is 
                                    <div *ngFor="let value of
                                        this.curation.head[header]">
                                        <tr>
                                            <td>{{value}}</td>
                                        </tr>
                                    </div>

                                </tbody>
                            </div>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
