.container {
  display: flex;
  flex-wrap: wrap;
}

#plotpie {
  padding: 0.5em;
  margin-top: 0em;
}

#plotbar {
  padding: 0.5em;
  margin-top: 0em;
}

.title {
  color: #0076a3;
}

.card {
  flex-basis: 100%;
}

.collapseCurDoc {
  display: inline-flex;
}

#curatingAccordion {
  width: 100%;
  display: flex;
}


table th td {
  border: 1px solid black;
  width: 15% !important;
}

ul li.nav-item a {
  background: white;
  color: #0076a3;
  /* font-size: 1.5rem; */
  font-size: 1.2rem;
}

#curation{
    width: fit-content;
    position: center;
    padding: 3px;
}


.col-sm-12{
    display: flex;
}

#downloadFile{
    height: fit-content;
    margin-left: 10%;
    border-radius: 5%;
}

.table-curation{
    width: fit-content;
    display: flex;
}


tr{
    height: 100px !important;
}

::ng-deep th{
    width: 15% !important;
}