.TP {
  background-color: rgba(0,255,0,0.3);
}
.FP {
  background-color:rgba(235,143,3,0.3);
}
.TN {
  background-color:rgba(3,49,155,0.3);
}
.FN {
  background-color:rgba(255,0,0,0.3);
}
.card-header {
  background: #B8DCED;
  background-color: #B8DCED;
}

.card-body {
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.card {
  border-width: 0px;
}

.model_name {
  color:#e59300;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  padding-top: 1px;
  padding-bottom: 1px;
}

#matrix * {
padding: 0px;
text-align: center;
}

#container {
  display: flex;
  height: 300px; 
  justify-content: space-between;
  align-items: center;
}

ul li.nav-item a {
  background:white;
  color: #0076a3;
  font-size: 1.5rem;
}

ul li.nav-item a.active{
  background:white;
  color:#22577A;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 4px solid #e59300;
  border-radius: 0;
}

/* rotating circle to show progress */
.spinner-border {
  display: block;
  position: absolute;
  z-index: 1031;
  top: 25%; /* where ... is the element's height */
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FAFAFA;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}


