<div class="modal-header">
    <h5 class="modal-title">Create list <span class="model_name"></span></h5>
    <button type="button" class="close" aria-label="Cancel" (click)="activeModal.dismiss('Cross click')"><span aria-hidden="false">&times;</span></button>


</div>
<form #curatedListFrom="ngForm">
    <div class="modal-body">
        <div class="card">
            <div class="row">

                <div class="col-sm">
                    <label for="listName">Name: </label>
                </div>
                <div class="col-4">
                    <input type="text" name="listName" [(ngModel)]="ObjCuratedList.listName" id="listNameInput" #listName="ngModel">
                </div>
                <div class="voidDiv"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <label for="smilesCol">SMILES column name: </label>
                </div>
                <div class="col-4">
                    <input type="text" name="smilesCol" [(ngModel)]="ObjCuratedList.smilesCol" id="smilesColInput" #smilesCol="ngModel">
                </div>
                <div class="voidDiv"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <label for="separator">Separator: </label>
                </div>
                <div class="col-4">
                    <select name="separator" [(ngModel)]="ObjCuratedList.separator" id="separatorInput" (ngModelChange)="onChangeSeparator($event)">
                        <option value="SeparatorChoices[0]"> , </option>
                        <option value="SeparatorChoices[1]"> Space bar</option>
                        <option value="SeparatorChoices[2]"> ; </option>
                        <option value="SeparatorChoices[3]"> Tab </option>
                        <option value="SeparatorChoices[4]"> / </option>
                        <option value="SeparatorChoices[5]"> . </option>
                        <option value="SeparatorChoices[6]"> : </option>
                    </select>
                </div>
                <div class="voidDiv"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <label for="casCol">CAS columns name: </label>
                </div>
                <div class="col-4">
                    <input type="text" name="casCol" [(ngModel)]="ObjCuratedList.casCol" id="casColInput" #casCol="ngModel">
                </div>
                <div class="voidDiv"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <label for="substanceName">Substance column name: </label>
                </div>
                <div class="col-4">
                    <input type="text" name="substanceName" [(ngModel)]="ObjCuratedList.substanceName" id="substanceNameInput" #substanceName="ngModel">
                </div>
                <div class="voidDiv"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <label for="fileList">Input file: </label>
                </div>
                <div class="col-4">
                    <input type="file" name="fileList" [(ngModel)]="ObjCuratedList.fileList" id="fileListInput" #fileList="ngModel">
                </div>
                <div class="voidDiv"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-link pt-0 pb-0 float-right" type="button" (click)="createObjCuratedList()">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>