
<!------------------------------------------------------------------------>
<div class="row mt-3">
    <div class="card w-100" style="width: 18rem;">
        <!--<div class="card-header"><h5>Fitting</h5></div>-->
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-3 mt-1">
                    <small class="h2 text-muted"><u>Fitting</u></small>
                    <table class="table table-sm mt-4">
                        <tbody>
                            <tr>
                                <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['scoringR'][0]}}"><strong>Scoring:</strong></td>
                                <td class="text-right text-capitalize">{{modelValidationInfo['scoringR'][1]}}</td>
                            </tr>
                            <tr>
                                <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['R2'][0]}}"><strong>R2:</strong></td>
                                <td class="text-right text-capitalize">{{modelValidationInfo['R2'][1]}}</td>
                            </tr>
                            <tr>
                                <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEC'][0]}}"><strong>SDEC:</strong></td>
                                <td class="text-right text-capitalize">{{modelValidationInfo['SDEC'][1]}}</td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
                <div class="col-9">
                    <div style="display: block">
                         <canvas baseChart
                            [datasets]="ChartDataFitted"
                            [options]="ChartOptionsFitted"
                            [labels]="ChartLabels"
                            [chartType]="ChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3" *ngIf="ChartDataPredicted[0].data.length>0">
    <div class="card w-100" style="width: 18rem;">
        <!--<div class="card-header"><h5>Prediction (cross-validation)</h5></div>-->
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-3 mt-1">
                    <small class="h2 text-muted"><u>Prediction (cross-validation)</u></small>
                    <table class="table table-sm mt-4">
                        <tbody>
                            <tr>
                                <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['scoringP'][0]}}"><strong>Scoring:</strong></td>
                                <td class="text-right text-capitalize">{{modelValidationInfo['scoringP'][1]}}</td>
                            </tr>
                            <tr>
                                <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['Q2'][0]}}"><strong>Q2:</strong></td>
                                <td class="text-right text-capitalize">{{modelValidationInfo['Q2'][1]}}</td>
                            </tr>
                            <tr>
                                <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEP'][0]}}"><strong>SDEP:</strong></td>
                                <td class="text-right text-capitalize">{{modelValidationInfo['SDEP'][1]}}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                
                <div class="col-9">
                    <div style="display: block">
                        <canvas baseChart
                            [datasets]="ChartDataPredicted"
                            [options]="ChartOptionsPredicted"
                            [labels]="ChartLabels"
                            [chartType]="ChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>       