/* ul li.nav-item a {
  background:white;
  color: #6C757D;
}

ul li.nav-item a.active{
  background: #F0F0F0;
  color: #6C757D;
} */

ul li.nav-item a {
  background:white;
  color: #B8DCED;
}

ul li.nav-item a.active{
  background:white;
  color:#22577A;
  font-weight: bold;
  border-bottom: 4px solid #e59300;
}

table td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.card-body {
  border-width: 0px;
}

.card {
  border-width: 0px;
}

/* rotating circle to show progress */
.spinner-border {
  display: block;
  position: absolute;
  z-index: 1031;
  top: 25%; /* where ... is the element's height */
  right: 45%; /* where ... is the element's width */
}

#overlay {
  position: absolute;
  /*display: none;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FAFAFA;
  opacity: 0.7;
  z-index: 2;
  cursor: pointer;
}
