<div class="row">
 
    <div class="card w-100">
    <!-- <div class="card w-100" style="width: 18rem;"> -->

        <!-- <div id="overlay" *ngIf="!this.modelVisible">
            <div class="spinner-border text-primary"  style="width: 10rem; height: 10rem;"  role="status">
            <span class="sr-only">Loading...</span>
            </div>
        </div> -->


        <!--NAVS tables-->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-predict-tab" data-toggle="tab" href="#pills-predict" role="tab" aria-controls="pills-predict" aria-selected="true"><h4>Predictivity</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-fitting-tab" data-toggle="tab" href="#pills-fitting" role="tab" aria-controls="pills-fitting" aria-selected="false"><h4>GOF</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-two-tab" data-toggle="tab" href="#pills-two" role="tab" aria-controls="pills-two" aria-selected="false"><h4>Series</h4></a>
            </li>
        </ul>
 
        <!-- <div class="tab-content" id="pills-tabContent" [hidden] = "!this.modelVisible"> -->
        <div class="tab-content" id="pills-tabContent">
 
            <!-- PREDICTION TAB START -->
            <div class="tab-pane fade show active" id="pills-predict" role="tabpanel" aria-labelledby="pills-predict-tab" >
 
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-3 mt-1">
                            <table class="table table-sm mt-4">
                                <tbody>
                                    <tr *ngIf="modelValidationInfo['scoringP']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['scoringP'][0]}}"><strong>Scoring</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['scoringP'][1]}}</td>
                                    </tr>
                                    <tr *ngIf="modelValidationInfo['Q2']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['Q2'][0]}}"><strong>Q2</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['Q2'][1]}}</td>
                                    </tr>
                                    <tr *ngIf="modelValidationInfo['SDEP']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEP'][0]}}"><strong>SDEP</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['SDEP'][1]}}</td>
                                    </tr>
                                    <ng-container *ngIf="this.model.conformal">
                                        <tr *ngIf="modelValidationInfo['Conformal_accuracy']">
                                            <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEP'][0]}}"><strong>Conformal accuracy</strong></td>
                                            <td class="text-right text-capitalize">{{modelValidationInfo['Conformal_accuracy'][1]}}</td>
                                        </tr>
                                        <tr *ngIf="modelValidationInfo['Conformal_mean_interval']">
                                            <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEP'][0]}}"><strong>Mean interval</strong></td>
                                            <td class="text-right text-capitalize">{{modelValidationInfo['Conformal_mean_interval'][1]}}</td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>    
                        </div>
                        <div>
                            <plotly-plot 
                                [data]="plotPredictedConf.data" 
                                [layout]="plotCommon.layout" 
                                [config]="plotCommon.config">
                            </plotly-plot>  
                        </div>
                    </div>
                </div>
            </div>
            <!-- PREDICTION TAB END -->
        
            <!-- FITTING TAB START -->
            <div class="tab-pane fade" id="pills-fitting" role="tabpanel" aria-labelledby="pills-fitting-tab" >
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-3 mt-1">
                            <table class="table table-sm mt-4">
                                <tbody>
                                    <tr *ngIf="modelValidationInfo['scoringR']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['scoringP'][0]}}"><strong>Scoring</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['scoringR'][1]}}</td>
                                    </tr>
                                    <tr *ngIf="modelValidationInfo['R2']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['Q2'][0]}}"><strong>R2</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['R2'][1]}}</td>
                                    </tr>
                                    <tr *ngIf="modelValidationInfo['SDEC']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEP'][0]}}"><strong>SDEC</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['SDEC'][1]}}</td>
                                    </tr>
                                    <ng-container *ngIf="this.model.conformal">
                                        <tr *ngIf="modelValidationInfo['Conformal_accuracy_fitting']">
                                            <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEP'][0]}}"><strong>Conformal accuracy</strong></td>
                                            <td class="text-right text-capitalize">{{modelValidationInfo['Conformal_accuracy_fitting'][1]}}</td>
                                        </tr>
                                        <tr *ngIf="modelValidationInfo['Conformal_mean_interval_fitting']">
                                            <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEP'][0]}}"><strong>Mean interval</strong></td>
                                            <td class="text-right text-capitalize">{{modelValidationInfo['Conformal_mean_interval_fitting'][1]}}</td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>    
                        </div>
                        <div>
                            <plotly-plot 
                                [data]="plotFittedConf.data" 
                                [layout]="plotCommon.layout" 
                                [config]="plotCommon.config">
                            </plotly-plot>  
                        </div>
                    </div>
                </div>
            </div>
            <!-- FITTING TAB END -->

            <!--SERIES TAB-->
            <div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
                <div class="card-body">
                    <div class="row">
                        <div class="row" id="scatterDIV">
                            <!-- <plotly-plot id="scatter_draw"
                                [data]="plotScores.data" 
                                [layout]="plotCommonScores.layout" 
                                [config]="plotCommonScores.config">
                            </plotly-plot>   -->
                            <canvas id="scatter_canvas"></canvas>
                        </div>
                        <div>
                            <plotly-plot 
                                [data]="plotViolin.data" 
                                [layout]="plotViolin.layout" 
                                [config]="plotCommon.config">
                            </plotly-plot>  
                        </div>
                    </div>
                </div>
            </div>
            <!--SERIES TAB END-->

        </div>
    </div>
</div>

<div class="row" *ngIf="this.modelWarning!='' ">
    <div class="card w-100">
      <div class="card-body"> 
        <div class="alert alert-danger text-center" role="alert">
          {{this.modelWarning}}
        </div>
      </div>
    </div>
 </div>
 