ul li.nav-item a {
  background:white;
  color: #0076a3;
  font-size: 1.2rem;
}

ul li.nav-item a.active{
  background:white;
  color:#22577A;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 4px solid #e59300;
  border-radius: 0;
}

.table {
  background-color: white;
  background: white;
  color: #22577A;
}

table td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.card-body {
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.card {
  border-width: 0px;
}

#container {
  display: flex;
  height: 500px; 
  justify-content: space-between;
  align-items: center;
}

.text-etransafe {
  color:#e59300;
}

.spinner-border {
  position: absolute; 
  display: block;
  right: 45%; 
  top: 35%; 
  z-index: 1031;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FAFAFA;
  opacity: 0.6;
  z-index: 2;
  cursor: pointer;
}
