<div class="row mt-3">
 
    <div class="card w-100" style="width: 18rem;">

        <!--NAVS tables-->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-predict-tab" data-toggle="tab" href="#pills-predict" role="tab" aria-controls="pills-predict" aria-selected="true"><h4>Prediction</h4></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="pills-fitting-tab" data-toggle="tab" href="#pills-fitting" role="tab" aria-controls="pills-fitting" aria-selected="false"><h4>Fitting</h4></a>
            </li> -->
        </ul>
 
        <div class="tab-content" id="pills-tabContent">
 
            <!-- PREDICTION TAB START -->
            <div class="tab-pane fade show active" id="pills-predict" role="tabpanel" aria-labelledby="pills-predict-tab" >
 
                <div class="card-body">

                    <div class="row justify-content-between">
                        <div class="col-3 mt-1">
                            <table class="table table-sm mt-4">
                                <tbody>
                                    <tr *ngFor = "let key of objectKeys(modelValidationInfo)">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo[key][0]}}"><strong>{{key}}:</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo[key][1]}}</td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                        <div class="col-9">
                            <div style="display: block">
                                <canvas baseChart #QuantitConformalChart
                                    [datasets]="ChartDataFitted"
                                    [options]="ChartOptions"
                                    [labels]="ChartLabels"
                                    [chartType]="ChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row mt-3" *ngIf="this.modelDocumentation !== undefined">
    <div class="card w-100" style="width: 18rem;">
        <!--<div class="card-header"><h5>Prediction (cross-validation)</h5></div>-->
        <div class="card-body">
            <div class="row ml-2">
                <small class="h2 text-muted"><u>Documentation</u></small>
            </div>
            <br>
            <div class="row">
                <table class="table table-striped documentation">
                    <tbody>
                        <tr *ngFor="let key of this.orderDocumentation">
                            <td>{{key}}</td>
                            <ng-container *ngIf="this.objectKeys(this.modelDocumentation).includes(key)">
                                <td *ngIf="this.modelDocumentation[key].value && !isObject(this.modelDocumentation[key].value)">{{this.modelDocumentation[key].value}}</td>
                                <td *ngIf="this.modelDocumentation[key].value && isObject(this.modelDocumentation[key].value)">   
                                    <div class="accordion" id="accordionExample">
                                        <div>        
                                            <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#' + key" aria-expanded="false" >
                                             INFO
                                            </button>
                                            <div id="{{key}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr *ngFor="let key2 of this.objectKeys(this.modelDocumentation[key].value)">
                                                                <td>{{key2}}</td>
                                                                <td *ngIf="isObject(this.modelDocumentation[key].value[key2])">{{this.modelDocumentation[key].value[key2].value}}</td>
                                                                <td *ngIf="!isObject(this.modelDocumentation[key].value[key2])">{{this.modelDocumentation[key].value[key2]}}</td>
                                                                <td class="text-right font-italic" *ngIf="isObject(this.modelDocumentation[key].value[key2])">{{this.modelDocumentation[key].value[key2].description}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table> 
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </td>
                                <td *ngIf="!this.modelDocumentation[key].value">-</td>
                                <td class="text-right font-italic" >{{this.modelDocumentation[key].description}}</td>
                            </ng-container>
                            <ng-container *ngIf="!this.objectKeys(this.modelDocumentation).includes(key)">
                                <td>-</td>
                                <td class="text-right font-italic">-</td>
                           </ng-container>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</div> 