<div class="row">
 
    <div class="card w-100" style="min-height: 600px">

        <div id="overlay" *ngIf="!this.modelVisible">
            <div class="spinner-border text-etransafe"  style="width: 10rem; height: 10rem;"  role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!--NAVS tables-->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-summary-tab" data-toggle="tab" href="#pills-summary" role="tab" aria-controls="pills-summary" aria-selected="true">Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-predict-tab" data-toggle="tab" href="#pills-predict" role="tab" aria-controls="pills-predict" aria-selected="false">Prediction</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-fitting-tab" data-toggle="tab" href="#pills-fitting" role="tab" aria-controls="pills-fitting" aria-selected="false">Fitting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-series-tab" data-toggle="tab" href="#pills-series" role="tab" aria-controls="pills-series" aria-selected="false">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-other-tab" data-toggle="tab" href="#pills-other" role="tab" aria-controls="pills-other" aria-selected="false">Other</a>
            </li>
        </ul>
 
        <div class="tab-content" id="pills-tabContent" [hidden]="!this.modelVisible">
            <!--SUMMARY TAB-->
            <div class="tab-pane fade show active" id="pills-summary" role="tabpanel" aria-labelledby="pills-summary-tab">
                <div class="card-body">
                    <!-- <div class="row justify-content-between"> -->
                    <div id="container">

                        <div class="col-3" *ngIf="objectKeys(this.modelValidationInfo).length > 0">
                            <div class="model_name">{{modelName}} ver.{{modelVersion}}</div>
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelBuildInfo['model'][0]}}"><strong>Type</strong></td>
                                        <td class="text-right text-capitalize">{{this.modelBuildInfo['model'][1]}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelBuildInfo['nobj'][0]}}"><strong>Molecules</strong></td>
                                        <td class="text-right text-capitalize">{{this.modelBuildInfo['nobj'][1]}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelBuildInfo['nvarx'][0]}}"><strong>Variables</strong></td>
                                        <td class="text-right text-capitalize">{{this.modelBuildInfo['nvarx'][1]}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelTypeInfo['quantitative'][0]}}"><strong>Quantitative</strong></td>
                                        <td class="text-right text-capitalize">{{this.modelTypeInfo['quantitative'][1]}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelTypeInfo['conformal'][0]}}"><strong>Conformal</strong></td>
                                        <td class="text-right text-capitalize">{{this.modelTypeInfo['conformal'][1]}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelTypeInfo['ensemble'][0]}}"><strong>Ensemble</strong></td>
                                        <td class="text-right text-capitalize">{{this.modelTypeInfo['ensemble'][1]}}</td>
                                    </tr>
                                    <!-- <tr *ngIf="this.modelTypeInfo['ensemble'][1]">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelTypeInfo['ensemble_names'][0]}}"><strong>Ensemble models</strong></td>
                                        <td class="text-right text-capitalize">{{this.modelTypeInfo['ensemble_names'][1]}}</td>
                                    </tr>
                                    <tr *ngIf="this.modelTypeInfo['ensemble'][1]">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelTypeInfo['ensemble_versions'][0]}}"><strong>Ensemble versions</strong></td>
                                        <td class="text-right text-capitalize">{{this.modelTypeInfo['ensemble_versions'][1]}}</td>
                                    </tr> -->
                                </tbody>
                            </table>   
                            <br> 
                        </div >
                        <!-- add coupled bars with Sensitivity, Specificity and MCC -->
                        <plotly-plot 
                        [data]="plotSummary.data" 
                        [layout]="plotSummary.layout" 
                        [config]="plotSummary.config">
                        </plotly-plot> 

                        <!-- pie plot with positive and negative -->
                        <plotly-plot 
                            [data]="plotViolin.data" 
                            [layout]="plotViolin.layout" 
                            [config]="plotViolin.config">
                        </plotly-plot>  
                    </div>
                </div>
            </div>
            <!-- SUMMARY TAB END-->

            <!--PREDICTION TAB START-->
            <div class="tab-pane fade" id="pills-predict" role="tabpanel" aria-labelledby="pills-predict-tab" >
 
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-3 mt-1">
                            <div class="model_name">{{modelName}} ver.{{modelVersion}}</div>
                            <table class="table table-sm mt-4">
                                <tbody>
                                    <tr *ngIf="modelValidationInfo['scoringP']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['scoringP'][0]}}"><strong>Scoring</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['scoringP'][1]}}</td>
                                    </tr>
                                    <tr *ngIf="modelValidationInfo['Q2']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['Q2'][0]}}"><strong>Q2</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['Q2'][1]}}</td>
                                    </tr>
                                    <tr *ngIf="modelValidationInfo['SDEP']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEP'][0]}}"><strong>SDEP</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['SDEP'][1]}}</td>
                                    </tr>
                                    <ng-container *ngIf="this.model.conformal">
                                        <tr *ngIf="modelValidationInfo['Conformal_accuracy']">
                                            <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['Conformal_accuracy'][0]}}"><strong>Conformal accuracy</strong></td>
                                            <td class="text-right text-capitalize">{{modelValidationInfo['Conformal_accuracy'][1]}}</td>
                                        </tr>
                                        <tr *ngIf="modelValidationInfo['Conformal_mean_interval']">
                                            <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['Conformal_mean_interval'][0]}}"><strong>Mean interval</strong></td>
                                            <td class="text-right text-capitalize">{{modelValidationInfo['Conformal_mean_interval'][1]}}</td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>    
                            <canvas id="scatter_pred_canvas"></canvas>
                        </div>
                        <div id="scatterPredDIV"></div>
                    </div>
                </div>
            </div>
            <!--PREDICTION TAB END-->
        
            <!--FITTING TAB START-->
            <div class="tab-pane fade" id="pills-fitting" role="tabpanel" aria-labelledby="pills-fitting-tab" >
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-3 mt-1">
                            <div class="model_name">{{modelName}} ver.{{modelVersion}}</div>
                            <table class="table table-sm mt-4">
                                <tbody>
                                    <tr *ngIf="modelValidationInfo['scoringR']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['scoringR'][0]}}"><strong>Scoring</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['scoringR'][1]}}</td>
                                    </tr>
                                    <tr *ngIf="modelValidationInfo['R2']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['R2'][0]}}"><strong>R2</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['R2'][1]}}</td>
                                    </tr>
                                    <tr *ngIf="modelValidationInfo['SDEC']">
                                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['SDEC'][0]}}"><strong>SDEC</strong></td>
                                        <td class="text-right text-capitalize">{{modelValidationInfo['SDEC'][1]}}</td>
                                    </tr>
                                    <ng-container *ngIf="this.model.conformal">
                                        <tr *ngIf="modelValidationInfo['Conformal_accuracy_f']">
                                            <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['Conformal_accuracy_f'][0]}}"><strong>Conformal accuracy</strong></td>
                                            <td class="text-right text-capitalize">{{modelValidationInfo['Conformal_accuracy_f'][1]}}</td>
                                        </tr>
                                        <tr *ngIf="modelValidationInfo['Conformal_mean_interval_f']">
                                            <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left" title="{{modelValidationInfo['Conformal_mean_interval_f'][0]}}"><strong>Mean interval</strong></td>
                                            <td class="text-right text-capitalize">{{modelValidationInfo['Conformal_mean_interval_f'][1]}}</td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                            <canvas id="scatter_fit_canvas"></canvas>    
                        </div>
                        <div id="scatterFitDIV"></div>
                    </div>
                </div>
            </div>
            <!-- FITTING TAB END -->

            <!--SERIES TAB-->
            <div class="tab-pane fade" id="pills-series" role="tabpanel" aria-labelledby="pills-series-tab">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col">
                            <plotly-plot 
                                [data]="plotViolin.data" 
                                [layout]="plotViolin.layout" 
                                [config]="plotViolin.config">
                            </plotly-plot>  
                            <canvas id="scores_canvas"></canvas>
                        </div>
                        <div id="scoresDIV"></div>
                    </div>
                </div>
            </div>
            <!--SERIES TAB END-->

            <!--SERIES TAB-->
            <div class="tab-pane fade" id="pills-other" role="tabpanel" aria-labelledby="pills-other-tab">
                <div class="card-body">
                    <!-- <div class="row justify-content-between"> -->
                        <div class="col" *ngIf="this.features">
                            <plotly-plot 
                                [data]="plotFeatures.data" 
                                [layout]="plotFeatures.layout" 
                                [config]="plotFeatures.config">
                            </plotly-plot>  
                            <div class="btn-toolbar mt-3 mb-3 ml-4 justify-content-between" role="toolbar" aria-label="Toolbar plot import/export">
                            <!-- <div class="row justify-content-between"> -->
                                <p class="method_description ">Feature importances computed using {{this.features_method}} method</p>
                                <button type="button" class="btn btn-ets-ext" data-toggle="modal" (click)="downloadFeatures()">Download</button>
                            </div>
                        </div>
                        <div class="card-body" *ngIf="!this.features"> 
                            <div class="alert alert-info text-center" role="alert">
                              No additional model information
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
            <!--SERIES TAB END-->


        </div>
    </div>
</div>

<div class="row" *ngIf="this.modelWarning!='' ">
    <div class="card w-100">
      <div class="card-body"> 
        <div class="alert alert-danger text-center" role="alert">
          {{this.modelWarning}}
        </div>
      </div>
    </div>
 </div>
 