<app-manage-curations></app-manage-curations>
 
 <!-- if no info from none endpoint the table will be hidden-->
 <div class="ml-3 mr-3" [hidden]="!this.globals.tableCurationVisible" id="divTableCurations">
 <div class="col-12 scrolltable">
     <table id="dataTableCurations" class="table" style="width:100%">
         <thead>
             <tr>
                 <th style="max-width: 5%" class="text-center"></th>
                 <th style="width: 12%">Name</th>
                 <th style="width: 12%">Date</th>
             </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of this.curation.curations" (click)="selectCuration(item)" [ngClass]="{'selected': this.curationName==item['curation_endpoint']}">
                <td class="text-center">
                    <i class="fas"
                        [ngClass]="{
                        'fa-grip-lines':
                        item['creation_date']==undefined && item['curation_endpoint']==undefined,
                        'fa-circle': item['creation_date']!=undefined,
                        'fa-times': item['curation_output']=='unk',
                        'faa-flash animated': this.curation.curations.length== 0}"
                        [ngStyle]="{'color':item['curation_output']=='unk'  ?
                        '#E69400' : (item['curation_output']!='unk' ? '#51cf66' :
                        'red'
                        ) }"
                        aria-hidden="true"></i>
                </td>
                <td>{{item['curation_endpoint']}}</td>
                <td>{{item['creation_date']}}</td>
            </tr>
         </tbody>
     </table>
 </div>
</div>