#inputSmilesContainer {
    background-color: none;
    width: 48%;
    height: 700px;
    top: 30px;
    justify-content: center;
    padding: 5%;
}

#inputSmiles {
    margin: 40px;
}

#inputSmiles {
    display: none;
}

.btn-ets-up {
    background: #0076a3;
    color: #ffffff;
    border-width: 0;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
    letter-spacing: 0.05em;
    border-radius: 0;
}

.btn-ets-do {
    background: #FA1750;
    color: #ffffff;
    border-width: 0;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
    letter-spacing: 0.05em;
    border-radius: 0;
}

.table {
    background-color: white;
    background: white;
    color: #22577A; 
    /* table-layout: fixed; */
    width: 100%;
}
.table th{
    padding-left: 1px;
    padding-right: 1px;
    color:#0076a3;
}
.table td {
    padding: 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border-bottom: 1px solid #B8DCED;
    vertical-align: middle;
}
tr {
    cursor: pointer;
}
tr.selected {
    background: #f7f9ea;
}

.table tbody tr:hover {
    background: #f7f9ea;
}

#divTableCurations{
    width: 100%;
    height: auto;
}

.container{
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}


.modal-content{
    width: 180vh !important;
}