<div class="container mt-5">
    <div class="row align-items-centermt-4">
        <div class="col-6">   
            <div class="form-row">
                <label class="bmd-label-floating" >Model root directory</label>
                <input class="form-control" [(ngModel)]="this.modelRoot" id="modroot" type='text' placeholder="this.modelRoot">
                <br>
                <br>
                <button type="button" class="btn btn-primary"  [ngClass]="{'disabled': this.modelRoot === undefined }" (click) = "applyChanges()" >Apply changes</button>
            </div>
        </div>
    </div>
    <br>
    <div class="checkbox">
        <label> 
            <input type="checkbox" value="this.globals.read_only" id="checkReadOnly" (click) = "changeReadOnly()">
            Prediction-only mode
        </label>
    </div>  
    <br>
    <br>
    <div class="row align-items-centermt-4">
        <div class="col-6">   
            <br>
            <br>
            <h3>Flame version 1.0.0-rc2</h3>
            <br>
            <p>Manuel Pastor, José Carlos Gómez Tamayo, Ignacio Pasamontes</p>
            <p><a href="http://phi.upf.edu" target="_Blank">PharmacoInformatics laboratory</a></p>
            <p><a href="http://grib.imim.es" target="_Blank">Research Group on Biomedical Informatics (GRIB)</a></p>
            <p><a href="https://www.upf.edu/" target="_Blank">University Pompeu Fabra (UPF)</a>, Barcelona, Spain</p>
            <p>Copyright 2020-21 Manuel Pastor</p>
            <p>Flame is Open Source, distributed under <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_Blank">license GPL v3</a></p>
        </div>
    </div>


</div>
