
<div class="row">
    <div class="col ml-3">
        <div class="row align-items-center mt-3">
            <div class="col">   
                <label class="bmd-label-floating" style="min-width: 20vw;"  >Model root directory
                    <input class="form-control" [(ngModel)]="this.modelRoot" id="modroot" type='text' placeholder="this.modelRoot">
                </label>
                <button type="button" class="btn btn-primary ml-3"  [ngClass]="{'disabled': this.modelRoot === undefined }" (click) = "applyChanges()" >Apply changes</button>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="form-group pl-3">
                <label >User profile
                    <select id="changeMode" (change)="changeUserProfile($event.target.value)">
                        <option value='basic' [selected]="this.globals.read_only==true">end user</option>
                        <option value='expert' [selected]="this.globals.read_only==false">model builder</option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <div class="col-7" >
        <div class="col mt-3">   
            <h3>Flame version 1.0.1</h3>
            <p>Manuel Pastor, José Carlos Gómez Tamayo, Ignacio Pasamontes</p>
            <p><a href="http://phi.upf.edu" target="_Blank">PharmacoInformatics laboratory</a></p>
            <p><a href="http://grib.imim.es" target="_Blank">Research Group on Biomedical Informatics (GRIB)</a></p>
            <p><a href="https://www.upf.edu/" target="_Blank">University Pompeu Fabra (UPF)</a>, Barcelona, Spain</p>
            <p>Copyright 2020-22 Manuel Pastor</p>
            <p>Flame is Open Source, distributed under <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_Blank">license GPL v3</a></p>
            <br>
        </div>
    </div>
</div>


<!-- 

    <div class="col ml-3">
        <div class="row align-items-center mt-3">
            <div class="col">   
                <label class="bmd-label-floating" style="min-width: 20vw;"  >Model root directory
                    <input class="form-control" [(ngModel)]="this.modelRoot" id="modroot" type='text' placeholder="this.modelRoot">
                </label>
                <button type="button" class="btn btn-primary ml-3"  [ngClass]="{'disabled': this.modelRoot === undefined }" (click) = "applyChanges()" >Apply changes</button>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="form-group pl-3">
                <label >User profile
                    <select id="changeMode" (change)="changeUserProfile($event.target.value)">
                        <option value='basic' [selected]="this.globals.read_only==true">end user</option>
                        <option value='expert' [selected]="this.globals.read_only==false">model builder</option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <div class="col-7" >
        <div class="col mt-3">   
            <h3>Flame version 1.0.0-rc7</h3>
            <p>Manuel Pastor, José Carlos Gómez Tamayo, Ignacio Pasamontes</p>
            <p><a href="http://phi.upf.edu" target="_Blank">PharmacoInformatics laboratory</a></p>
            <p><a href="http://grib.imim.es" target="_Blank">Research Group on Biomedical Informatics (GRIB)</a></p>
            <p><a href="https://www.upf.edu/" target="_Blank">University Pompeu Fabra (UPF)</a>, Barcelona, Spain</p>
            <p>Copyright 2020-22 Manuel Pastor</p>
            <p>Flame is Open Source, distributed under <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_Blank">license GPL v3</a></p>
            <small>30-05-2022</small>
            <br>
        </div>
    </div>
</div> -->
