<div class="row">
    <div class="col">
        <div class="form-group">
            <div id="jsme_container"></div>
            <small class="text-muted">Sketch a molecular structure (one molecule max.).</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <label for="sketchName">Structure name</label>
        <input type="text" class="form-control is-valid" [class.is-valid]="isvalidSketch" [class.is-invalid]="!isvalidSketch" id="sketchName" [(ngModel)]="sketchName" (ngModelChange)="sketchNameChange()" required>
        <div class="valid-feedback">
            Valid Name!
        </div>
        <div class="invalid-feedback">
            The structure name entered is not valid
        </div>
        <span [hidden]=true id="molclipboard">XXX</span>
    </div>
    <div class="col-2 align-self-end">
        <button [disabled]="!this.isvalidSketch" type="button" class="btn float-right" (click)="saveStructure()" onclick="clipmol(jsmeApplet.smiles())">Save</button>
    </div>

</div>