.info {
    background-color: white;
}

.app-base {
    padding-left: 0px;
    padding-right: 0px; /* prevents horizontal scrollbar*/
    overflow-x: hidden;
}

.top-bar{
    max-height: 5vh; 
}

/* ul {
    background: #0076a3;
}

ul li a {
    background: #0076a3;
    color: #B8DCED;
   
}

ul li a.active{
    background: #22577a;
    color: white;
    border-bottom: 3px solid #e59300;
    border-radius: 0;
} */


/* ul li a {
    background:white;
    color: #0076a3;
    font-size: 1.2rem;
}
  
ul li a.active{
    background:white;
    color:#22577A;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 4px solid #e59300;
    border-radius: 0;
} */

.nav-link {
    background:white;
    color: #0076a3;
    font-size: 1rem;
}

.nav-link.active {
    background:white;
    color:#22577A;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 4px solid #e59300;
    border-radius: 0;
}

.logo-container {
    float: right;
}

.logo {
    max-height: 40px;
    padding-top: 5px;
    padding-right: 20px;
}

.logo-right {
    max-height: 40px;
    padding-top: 5px;
}

::ng-deep .as-split-gutter-icon:hover {
    background-color: #0076a3;
}


