.info {
    /* background-color: #FAFAFA; */
    background-color: white;
    /* min-height: 100vh;    */
}
.scrollable{
    /* right column will have a max of 95%
       and a scroll bar will appear only when it is bigger */
    max-height: 95vh; 
    overflow: auto;
}
.app-base {
    padding-left: 0px;
    padding-right: 30px; /* prevents horizontal scrollbar*/
}

.top-bar{
    /* top bar is max 5% of GUI */
    max-height: 5vh; 
}

ul {
    background: #0076a3;
}

ul li a {
    background: #0076a3;
    color: #B8DCED;
   
}

ul li a.active{
    background: #22577a;
    color: white;
    border-bottom: 3px solid #e59333;
    border-radius: 0;
}

.logo-right {
    vertical-align: middle;
    position: absolute;
    right: 0px;
    /* width: 300px; */
    /* border: 3px solid #73AD21; */
    padding: 5px; 
}

.logo {
    padding-right: 20px;
}
