
<!--<div class="page-header border-bottom mb-3">
  <div class="d-flex">
        <div class="mr-auto p-2">
            <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/modeling"  data-toggle="pill" role="tab">Modeling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/similarity" data-toggle="pill" role="tab">Similarity</a>
                </li>
            </ul>
        </div>
        <div class="p-2">
            <!--<a target="_blank">
                <img [src]="imageSource" data-holder-rendered="true" height="40"/>
            </a>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="col p-0 scrollable">
        <div class="">
            <app-sidebar></app-sidebar>
        </div>
        <div class="pr-3">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="col-6 border-left info v-100 scrollable" *ngIf="!isActive('similarity')">
        <div *ngIf="(this.prediction.name != undefined && this.model.name == undefined && isActive('predictions'))">
            <app-prediction [predictionName]=this.prediction.name></app-prediction>
        </div>
        <div *ngIf="(this.model.name != undefined && this.model.trained && this.prediction.name == undefined && isActive('models'))">
            <app-validations [name] = this.model.name [version] = this.model.version></app-validations>
        </div>
    </div>
    <!--<div class="col-6 border-left info  v-100" *ngIf="isActive('similarity')">
        <p>SIMILARITY</p>
    </div>-->
</div>



