<div class="container-fluid app-base">
    <app-sidebar></app-sidebar>
    <div class="row" >
        <div class="col p-0">
            <router-outlet></router-outlet>
        </div>

        <div class="col-7 info scrollable v-100" *ngIf="!isActive('similarity')">
        <!-- <div class="col-7 info scrollable" *ngIf="!isActive('similarity')"> -->
            <div *ngIf="(this.prediction.name != undefined && this.model.name == undefined && isActive('predictions'))">
                <app-prediction [predictionName]=this.prediction.name></app-prediction>
            </div>
            <div *ngIf="(this.model.name != undefined && this.prediction.name == undefined && isActive('models'))">
                <app-validations [name] = this.model.name [version] = this.model.version></app-validations>
            </div>
        </div>

    </div>
<!-- 
    <div class="row">
        <div class="col p-0">
            <div class="">
                <app-sidebar></app-sidebar>
            </div>
            <div class="pr-3">
                <router-outlet></router-outlet>
            </div>
        </div>

        <div class="col-7 info scrollable v-100" *ngIf="!isActive('similarity')">
            <div *ngIf="(this.prediction.name != undefined && this.model.name == undefined && isActive('predictions'))">
                <app-prediction [predictionName]=this.prediction.name></app-prediction>
            </div>
            <div *ngIf="(this.model.name != undefined && this.prediction.name == undefined && isActive('models'))">
                <app-validations [name] = this.model.name [version] = this.model.version></app-validations>
            </div>
        </div>

    </div> -->
</div>
