ul {
    background: #0076a3;
}

ul li a {
    background: #0076a3;
    color: #B8DCED;
   
}

ul li a.active{
    background: #22577a;
    color: white;
    border-bottom: 3px solid #e59300;
}

.logo-right {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
}

.logo {
    padding-left: 30px;
}
