::ng-deep .card-header[data-toggle="collapse"] button:after {
    display: inline-block;
    font: normal normal normal 10px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    content: "\f056";
    align-content: flex-end;
    transform: rotate(0deg);
    transition: all linear 0.25s;
    color: #E9A933;
}

::ng-deep .card-header[data-toggle="collapse"].collapsed button:after {
    transform: rotate(90deg);
    content: "\f055";
}

a {
    text-align: end;
}

table td {
    padding-top: 1px;
    padding-bottom: 1px;
}

.docAccordion {
    /* scroll-behavior: auto; */
    overflow: auto;
}

.comment {
    color: grey;
}

.doc-value {
    margin-top: 0px;
    color: #0076a3;
}

.doc-value-inner {
    margin-top: 5px;
    color: #0076a3;
}

.documentation {
    /* table-layout: fixed; */
    width: 100%;
}

.text-etransafe {
    color: #E9A933;
}

.spinner-border {
    position: absolute;
    display: block;
    right: 45%;
    top: 30%;
    z-index: 1031;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FAFAFA;
    opacity: 0.7;
    z-index: 2;
    cursor: pointer;
}

.card-body {
    border-width: 0px;
}

.card {
    border-width: 0px;
}

label.disabled {
    cursor: not-allowed;
    pointer-events: none !important;
}

.btn.disabled, .btn:disabled {
    background-color:#bdbdbd ;
    color: #ffffff;
    cursor: not-allowed;
    pointer-events: none !important;
}

.btn-ets-up {
    background: #0076a3;
    color: #ffffff;
    border-width: 0;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
    letter-spacing: 0.05em;
    border-radius: 0;
}

.btn-ets-up:hover,
.btn-ets-up:focus,
.btn-ets-up.active {
    background: #22577a;
    color: #ffffff;
}

.btn-ets-down {
    background: #e9a933;
    color: #ffffff;
    border-width: 0;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
    letter-spacing: 0.05em;
    border-radius: 0;
}

.btn-ets-down:hover,
.btn-ets-down:focus,
.btn-ets-down.active {
    background: #e59300;
    color: #ffffff;
}