::ng-deep .card-header[data-toggle="collapse"] button:after {
  display: inline-block;
  font: normal normal normal 10px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f056";
  align-content: flex-end;
  transform: rotate(0deg) ;
  transition: all linear 0.25s;
  color: #e59300;
}   
::ng-deep .card-header[data-toggle="collapse"].collapsed button:after {
  transform: rotate(90deg) ;
  content: "\f055";
}
a{
  text-align: end;
}

table td {
    padding-top: 1px;
    padding-bottom: 1px;
}
  
.docAccordion {
  /* scroll-behavior: auto; */
  overflow: auto;
}

.comment {
  color: grey;
}

.doc-value {
  margin-top: 0px;
  color: #0076a3;
}

.doc-value-inner {
  margin-top: 5px;
  color: #0076a3;
}

.documentation {
  /* table-layout: fixed; */
  width: 100%;
}

.text-etransafe {
  color:#e59300;
}

.spinner-border {
  position: absolute; 
  display: block;
  right: 45%; 
  top: 30%; 
  z-index: 1031;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FAFAFA;
  opacity: 0.7;
  z-index: 2;
  cursor: pointer;
}

.card-body {
  border-width: 0px;
}

.card {
  border-width: 0px;
}

.files-block {
  font: normal normal normal 10px/1 FontAwesome;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f056";
  text-rendering: auto;;
  text-rendering: auto;
  background-color: #f6f6f6;
  border: 
}

#inputFile::-webkit-file-upload-button {
  display: none;
}

#download {
  margin-left: 8px;
}

#inputFileLabel {
  margin-left: 22px;
  font: normal normal normal 10px/1 FontAwesome;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
 }

 .material-icons {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: right;
  margin-right: 30px;
  border: red;
  color: #E5A01E;
  background-color: #f6f6f6;
 }