

 
    <div class="accordion mt-3 ml-2 mr-2" id="buildingAccordion"  *ngIf="this.profile?.profileList[1]?.length  else elseBlock">
        <div class="card">
            <div class="card-header " id="headingProfiles" data-toggle="collapse" data-target="#collapseTwoProfile"
                aria-expanded="true" aria-controls="collapseTwoProfile">
                <h5 class="mb-0">
                    Select Profile
                    <button id="profilebtn" class="btn btn-link pt-0 pb-0 float-right" type="button"></button>
                </h5>
            </div>
            <div id="collapseTwoProfile" class="collapse show" aria-labelledby="headingTwo" data-parent="#buildingAccordion">
                <div class="card-body p-2 pr-5">
                    <table class="table display compact" id="dataTableProfiles" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Models</th>
                                <th>Series</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr #tr (click)="this.selectProfile(profile,tr)" *ngFor="let profile of this.profile.profileList[1]">
                                <td>{{profile[0]}}</td>
                                <td title="{{profile[1]}}">{{profile[1].length}}</td>
                                <td>{{profile[4]}}</td>
                                <td>{{profile[3]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
 </div>
 
 <app-profile-summary></app-profile-summary>

 
 <ng-template #elseBlock>
   <div style="width: 99%;" class="alert alert-warning text-center mt-3">
       No profiles
   </div>
 </ng-template>