table {
    max-height: 400px;
        overflow: auto;
        color: black;
}
table  thead tr:nth-child(1) th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

tbody tr {
    height: 50px;
}
.table {
    background-color: white;
    background: white;
    color: #22577A;
    /* table-layout: fixed; */
    width: 100%;
}
.table th {
    padding-left: 1px;
    padding-right: 1px;
    color: #0076a3;;
}
.table td {
    padding: 5px;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
    border-bottom: 1px solid #B8DCED;
    vertical-align: middle;
}
.table tr {
    cursor: pointer;
}
.table tr.selected {
    background: #f7f9ea;
}
.table tbody tr:hover {
    background: #f7f9ea;
}
