.container{
    display: flex;
    flex-wrap: wrap;
}

#plotpie{
    padding: .5em;
    margin-top: 0em;
}

#plotbar{
    padding: .5em;
    margin-top: 0em;
}

.title{
    color:#0076a3;
}

.card{
    flex-basis:100%; 
}