i {
    margin-right: 5px;
    cursor: pointer;
}

.table {
    background-color: white;
    background: white;
    color: #22577A;
}
.table th{
    padding: 5px;
    background: #B8DCED;
    color:#0076a3;
    vertical-align: middle;
}
.table td {
    padding: 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border-bottom: 2px solid #B8DCED;
}
tr {
    cursor: pointer;
}
tr.selected {
    background: #f7f9ea;
}
.table tbody tr:hover {
    background: #f7f9ea;
}

.blink {
    animation: blinker 0.6s linear infinite;
}
@keyframes blinker {  
    100% { opacity: 0; }
}

/*table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    position: fixed;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    position: fixed;
}*/