::ng-deep .card-header[data-toggle="collapse"] button:after {
    display: inline-block;
    font: normal normal normal 10px/1 FontAwesome;
    font-size: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f056";
    align-content: flex-end;
    transform: rotate(0deg) ;
    transition: all linear 0.25s;
    color: #e59333;
}   
::ng-deep .card-header[data-toggle="collapse"].collapsed button:after {
    transform: rotate(90deg) ;
    content: "\f055";
}
a{
    text-align: end;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

/* .card-header {
    color: white;
    background: #22577a;
    background-color: #22577a;
    padding-top: 5px;
    padding-bottom: 5px;
} */

/* .card-header {
    padding-top: 10px;
    padding-bottom: 10px;
} */

.card{
    padding-top: 0px;
    padding-bottom: 0px;
    border-width: 0px;
}

.modal-body{
    padding: 0px;
}
