<!-- <hr class="my-0"> -->

<app-manage-spaces></app-manage-spaces>

<div id="overlay" *ngIf="!this.globals.tableSpaceVisible">
  <div class="spinner-border text-etransafe"  style="width: 10rem; height: 10rem;"  role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="ml-3 mr-3" [hidden] = "!this.globals.tableSpaceVisible">
  <div class="col-12 scrolltable" >
    <table class="table" id="dataTableSpaces">
      <thead>
        <tr>
          <th style="width: 5%"></th>
          <th style="width: 35%">Name</th>
          <th style="width: 5%">Ver</th>
          <th class="text-right" style="width: 10%">Molecules</th>
          <th class="text-right" style="width: 15%">Type</th>
          <th class="text-right" style="width: 10%">Var</th>
          <th class="text-right" style="width: 25%">MDs</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let info of this.space.spaces" (click)= "selectSearch(info[0], info[1], info[3])" [ngClass]="{'selected': this.space.spaceName===info[0] && this.space.spaceVersion===info[1]}">
          <td class="text-center">
            <i class = "fas" 
              [ngClass]="{
              'fa-grip-lines': info[3] != 'descriptors',
              'fa-circle':     info[3] == 'descriptors',
              'fa-times':      info[3] == 'unk',
              'faa-flash animated': this.space.building[0] === info[0] && this.space.building[1] === info[1] }"
              [ngStyle]="{'color': (this.space.building[0] === info[0] && this.space.building[1] === info[1]) ? '#E69400' : (info[3] != 'unk' ? '#51cf66' : 'red') }" 
            aria-hidden="true"></i> 
          </td>
          
          <td>{{info[0]}}</td>  <!-- Name -->
          <td>{{info[1]}}</td>  <!-- Ver -->
          <td class="text-right">{{info[2]}}</td> <!-- Molecules -->
          <td class="text-right">{{info[3]}}</td> <!-- Type -->
          <td class="text-right">{{info[4]}}</td> <!-- Vars -->
          <td class="text-right">{{info[5]}}</td> <!-- MDs -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
