<div class="mt-3">
    <!--NAVS tables-->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="input-file" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Input file</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sketch-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Sketch structure</a>
        </li>
        <li class="nav-item">
            <a (click)="currentTab($event)" class="nav-link" id="input-list-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Input list</a>
        </li>
    </ul>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <!-- Input File option -->
            <app-input-file></app-input-file>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <!-- sketch option -->
            <app-sketch-structure></app-sketch-structure>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <!-- Input List option -->
            <app-input-list></app-input-list>
        </div>
    </div>
</div>