
<div class="m-3" *ngIf="this.model.parameters !=undefined">
    <div *ngIf="!this.model.parameters.quantitative.value && !this.model.parameters.conformal.value">
        <app-qualit-no-conformal [modelName]="this.model.name" [modelVersion]= "this.model.version"></app-qualit-no-conformal>
    </div>
    <div *ngIf="!this.model.parameters.quantitative.value && this.model.parameters.conformal.value">
        <app-qualit-conformal [modelName]="this.model.name" [modelVersion]= "this.model.version"></app-qualit-conformal>
    </div>
    <div *ngIf="this.model.parameters.quantitative.value && !this.model.parameters.conformal.value">
        <app-quantit-no-conformal [modelName]="this.model.name" [modelVersion]= "this.model.version"></app-quantit-no-conformal>
    </div>
    <div *ngIf="this.model.parameters.quantitative.value && this.model.parameters.conformal.value">
        <app-quantit-conformal [modelName]="this.model.name" [modelVersion]= "this.model.version"></app-quantit-conformal>
    </div>
</div>

                
<!--END Modal Documentation-->




