<div *ngIf="this.model.name !=undefined && this.model.trained && this.model.modelID != undefined">
    <app-qualit-conformal *ngIf="!this.model.quantitative"
                            [modelName]="this.model.name" [modelVersion]= "this.model.version" [modelID]="this.model.modelID"></app-qualit-conformal>

    <app-quantit-conformal *ngIf="this.model.quantitative"
                            [modelName]="this.model.name" [modelVersion]= "this.model.version" [modelID]="this.model.modelID"></app-quantit-conformal>

    <app-model-documentation [modelName]="this.model.name" [modelVersion]="this.model.version" [modelID]="this.model.modelID"></app-model-documentation>

</div> 

<div class="m-3" *ngIf="this.model.name !=undefined && this.model.error!=undefined  && !this.model.trained">

  <div *ngIf="this.model.error!='Info file not found'"class="alert alert-danger text-center" role="alert">
      <span class="font-weight-bolder">ERROR: </span>{{this.model.error}}!
  </div>

  <div *ngIf="this.model.error=='Info file not found'"class="alert alert-warning text-center" role="alert">
      <span class="font-weight-bolder">WARNING: </span>Model created but not built. No information to show.
  </div>

</div>               

