/* @import '../../assets/css/dataTables.material.min.css';
@import '../../assets/css/material.min.css'; */

.table th{
    color: #22577A;
}
.table td {
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
}
.table td, .table th {
    border-top: 4px solid rgba(0,0,0,.06);
}

.scrollable{
  max-height: 90vh;
  overflow: auto;
  /* padding-left: 0px;
  padding-right: 10px; */
}
ul li.nav-item a {
  background:white;
  color: #6C757D;
}

ul li.nav-item a.active{
  background: #F0F0F0;
  color: #6C757D;
}

/* rotating circle to show progress */

.TP {
  background-color: rgba(0,255,0,0.3);
}
.FP {
  background-color:rgba(235,143,3,0.3);
}
.TN {
  background-color:rgba(3,49,155,0.3);
}
.FN {
  background-color:rgba(255,0,0,0.3);
}
.card-header {
  background: #B8DCED;
  background-color: #B8DCED;
}

.spinner-border {
  display: block;
  position: absolute;
  z-index: 1031;
  top: 25%; /* where ... is the element's height */
  right: 45%; /* where ... is the element's width */
}


#overlay {
  position: absolute;
  /*display: none;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FAFAFA;
  opacity: 0.7;
  z-index: 2;
  cursor: pointer;
}
/*END LOADING*/