i {
    margin-right: 5px;
    cursor: pointer;
}
.table {
    background-color: white;
    background: white;
    color: #22577A;
    /* table-layout: fixed; */
    width: 100%;
}
.table th{
    padding-left: 1px;
    padding-right: 1px;
    color:#0076a3;
}
.table td {
    padding: 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border-bottom: 1px solid #B8DCED;
    vertical-align: middle;
}
tr {
    cursor: pointer;
}
tr.selected {
    background: #f7f9ea;
}
.table tbody tr:hover {
    background: #f7f9ea;
}

.model-content {
    max-width: 350px;
    max-height: 350px;
}
.scrolltable{
    max-height: 90vh;
    overflow: auto;
}

.spinner-table {
    position: absolute; 
    right: 45%; 
    top: 30%; 
    z-index: 1031;
}

.iffyTip {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.hideText{
max-width:200px;
}