<app-manage-models></app-manage-models>

<div  id="overlay" *ngIf="!this.globals.tableModelVisible">
  <div class="spinner-border text-etransafe"  style="width: 10rem; height: 10rem;"  role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class ="ml-3 mr-3" [hidden] = "!this.globals.tableModelVisible">
  <div class="col-12 scrolltable">
    <table id ="dataTableModels" class="table display compact" style="width:100%">
      <thead>
        <tr>
          <th style="max-width: 5%" class="text-center"></th>
          <th >Name</th>
          <th style="max-width: 5%">Ver</th>
          <th style="width: 12%">Maturity</th>
          <th style="width: 12%">Type</th>
          <th style="width: 12%">Subtype</th>
          <th style="width: 12%">Endpoint</th>
          <th style="width: 12%">Species</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of objectKeys(model.listModels).sort()" 
          [ngClass]="{'selected': (model.listModels[key].name===this.model.name) && (model.listModels[key].version===this.model.version),
                      'version': model.listModels[key].version > 0}"
          (click)= "this.func.selectModel(model.listModels[key].name, model.listModels[key].version, model.listModels[key].modelID, model.listModels[key].trained,model.listModels[key].type,model.listModels[key].quantitative
          , model.listModels[key].conformal, model.listModels[key].confidential, model.listModels[key].secret, model.listModels[key].ensemble, model.listModels[key].error)"
          
          title="{{model.listModels[key].quantitative ? 'quantitative' : 'qualitative'}} | {{model.listModels[key].type}} {{model.listModels[key].conformal ? 'conformal' : ''}} | {{model.listModels[key].numMols}} mols | {{model.listModels[key].variables}} vars ">
          <td class="text-center">
            <i class = "fas" 
                        [ngClass]="{
                          'fa-grip-lines': !model.listModels[key].quantitative,
                          'fa-circle': model.listModels[key].quantitative,
                          'fa-times-circle': model.listModels[key].type == '-',
                          'faa-flash animated': this.model.trainig_models.includes(model.listModels[key].name + '-' + model.listModels[key].version)}"
                        [ngStyle]="{'color': this.model.trainig_models.includes(model.listModels[key].name + '-' + model.listModels[key].version) ? '#E69400' : (model.listModels[key].trained ? '#51cf66' : 'red' ) }" 
                        aria-hidden="true"></i> 
            <i class = "fas"
                        [ngClass] = "{
                          'fa-lock': model.listModels[key].secret,
                          'fa-lock-open': model.listModels[key].confidential && !model.listModels[key].secret
                        }"
                           aria-hidden="true"></i>
                        
          </td>
          <td>{{model.listModels[key].name}}</td>
          <td>{{model.listModels[key].version}}</td>
          <td>{{model.listModels[key].maturity}}</td>
          <td class="text-truncate iffyTip hideText">{{model.listModels[key].bio_type}}</td>
          <td class="text-truncate iffyTip hideText">{{model.listModels[key].bio_subtype}}</td>
          <td class="text-truncate iffyTip hideText">{{model.listModels[key].bio_endpoint}}</td>
          <td class="text-truncate iffyTip hideText">{{model.listModels[key].bio_species}}</td>

        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Ver</th>
          <th>Maturity</th>
          <th>Type</th>
          <th>Subtype</th>
          <th>Endpoint</th>
          <th>Species</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>



 



