i {
    margin-right: 5px;
    cursor: pointer;
}
.table {
    background-color: white;
    background: white;
    color: #22577A;
    /* table-layout: fixed; */
    width: 100%;
}
.table th{
    padding-left: 1px;
    padding-right: 1px;
    color:#0076a3;
}
.table td {
    padding: 5px;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
    border-bottom: 1px solid #B8DCED;
    vertical-align: middle;
}
tr {
    cursor: pointer;
}
tr.selected {
    background: #f7f9ea;
}
.table tbody tr:hover {
    background: #f7f9ea;
}

.model-content {
    max-width: 350px;
    max-height: 350px;
}

.scrolltable{
    max-height: 90vh;
    overflow: auto;
}

.text-etransafe {
    color:#e59333;
}

.spinner-border {
    position: absolute; 
    display: block;
    right: 45%; 
    top: 200%; 
    z-index: 1031;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FAFAFA;
    opacity: 0.7;
    z-index: 2;
    cursor: pointer;
}

.iffyTip {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.hideText{
  max-width:150px;
}
