<hr class="my-0">

<app-manage-models></app-manage-models>

<div class ="text-center spinner-table" *ngIf = "!this.globals.tableModelVisible">
  <div class="spinner-border text-primary"  style="width: 10rem; height: 10rem;"  role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class ="ml-3 mr-3" [hidden] = "!this.globals.tableModelVisible">
  <div class="col-12 scrolltable">
    <table id ="dataTableModels" class="table">
      <thead>
        <tr>
          <th style="width: 5%" class="text-center"></th>
          <th style="width: 35%">Name</th>
          <th style="width: 10%">Version</th>
          <th style="width: 12.5%">#Molecules</th>
          <th style="width: 12.5%">#Variables</th>3
          <th style="width: 25%">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of objectKeys(model.listModels).sort()" 
          [ngClass]="{'selected': (model.listModels[key].name===this.model.name) && (model.listModels[key].version===this.model.version),
                      'version': model.listModels[key].version > 0}"
          (click)= "selectModel(model.listModels[key].name, model.listModels[key].version, model.listModels[key].trained,model.listModels[key].type,model.listModels[key].quantitative
          , model.listModels[key].conformal, model.listModels[key].ensemble, model.listModels[key].error)">
          <td class="text-center">
            <i class = "fas" 
                        [ngClass]="{'fa-grip-lines': model.listModels[key].type.indexOf('qualitative') > -1 ||
                                          model.listModels[key].type.indexOf('majority') > -1,
                        'fa-circle': model.listModels[key].type.indexOf('quantitative') >-1 ||
                                     model.listModels[key].type.indexOf('mean') > -1 ||
                                     model.listModels[key].type.indexOf('matrix') > -1 ||
                                     model.listModels[key].type.indexOf('median') > -1,
                        'fa-times': model.listModels[key].type == '-',
                        'faa-flash animated': this.model.trainig_models.includes(model.listModels[key].name + '-' + model.listModels[key].version)}"
                        [ngStyle]="{'color': this.model.trainig_models.includes(model.listModels[key].name + '-' + model.listModels[key].version) ? '#E69400' : (model.listModels[key].trained ? '#51cf66' : 'red' ) }" 
                        aria-hidden="true"></i> 
          </td>

          <td class="text-truncate iffyTip hideText">{{model.listModels[key].name}}</td>
          <td>{{model.listModels[key].version}}</td>
          <td>{{model.listModels[key].numMols}}</td>
          <td>{{model.listModels[key].variables}}</td>
          <td class="text-capitalize text-truncate iffyTip hideText">{{model.listModels[key].type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



 



