<div class="modal-header">
    <h5 class="modal-title">Search using space <span class="model_name">{{this.spaceName}} ver.{{this.spaceVersion}} ({{this.spaceType}})</span></h5>
    <button type="button" class="close" aria-label="Cancel" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    <div class="accordion mt-3" id="buildingAccordion">
          <!--START INPUT FILE-->
          <div class="card">
            <div class="card-header" id="headingZero" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                <h5 class="mb-0">
                    Input file
                    <button class="btn btn-link pt-0 pb-0 float-right" type="button"></button>
                </h5>
            </div>
            <div #trainigseries id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#buildingAccordion">
                <div class="card-body p-2 pl-5 pr-5">
  
                  <div class="row">
                    <div class="col-10">
                      <!-- <label for="inputGroupFile01">Input file</label> -->
                      <div class="form-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                          aria-describedby="inputGroupFileAddon01" onchange="this.nextElementSibling.innerText = this.files[0].name" 
                          (change)="change($event.target.files)">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          <small class="text-muted">Enter a SDFile format input file.</small>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-2 align-self-end">
                      <button type="button" class="btn btn-primary float-right" (click)="search_file()" [disabled]="(this.spaceName==''|| this.search.file==undefined )">Search</button>
                    </div>
  
                  </div>
                </div>
  
            </div>
          </div>
          <!-- END INPUT FILE-->
  
          <!--START CARD SKETCH-->
          <div class="card">
              <div class="card-header collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <h5 class="mb-0">
                      Sketch structure
                      <button class="btn btn-link pt-0 pb-0 float-right" type="button"> </button>
                  </h5>
              </div>
              <div #trainigseries id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#buildingAccordion">
                  <div class="card-body p-2 pl-5 pr-5">
  
                    <div class="row">
                      <div class="col-10">
                        <!-- <label for="inputGroupFile01">Sketch structure</label> -->
                        <div class="form-group">
                           <div id="jsme_container"></div>
                           <small class="text-muted">Sketch a molecular structure (one molecule max.).</small>
                        </div>
                      </div>
                    </div>
                    
                    <div class="checkbox">
                      <label>
                        <input  type="checkbox" [(ngModel)]="this.isSMARTS">
                        SMARTS
                      </label>
                    </div>  

                    <div class="row">
                      <div class="col-10">
                        <label for="sketchName">Structure name</label>
                        <input type="text" class="form-control is-valid" [class.is-valid]="isvalidSketch" [class.is-invalid]="!isvalidSketch" 
                         id="sketchName" [(ngModel)]="this.sketchName" (ngModelChange)="sketchNameChange()"  required>
                        <div class="valid-feedback">
                          Valid Name!
                        </div>
                        <div class="invalid-feedback">
                          The structure name entered is not valid
                        </div>
                      </div>
  
                      <div class="col-2 align-self-end">
                        <button type="button" class="btn btn-primary float-right" onclick="clipmol(jsmeApplet.smiles())" (click)="search_structure()" >Search</button>
                      </div>
  
                    </div>
  
                  </div>
              </div>
          </div>
          <!-- END CARD SKETCH-->


          <div class="card p-2 pl-5">
            <div class="row">
              <div class="form-group ">
                <label for="num_cutoff">Number cutoff</label>
                <input type="number" id="num_cutoff" class="form-control" [(ngModel)]="this.num_cutoff" aria-describedby="num_cutoff" min="1" step="1">
                <small id="num_cutoff" class="text-muted">
                  (min 1)
                </small>
              </div>
              <div class="form-group pl-3">
                <label for="dist_cutoff">Distance cutoff</label>
                <input type="number" id="dist_cutoff" class="form-control" [(ngModel)]="this.dist_cutoff" aria-describedby="dist_cutoff" min="0" max="10" step=".01">
                <small id="dist_cutoff" class="text-muted">
                  (0-10)
                </small>
              </div>

              <div class="form-group pl-3">
                <label id="metric" class="bmd-label-static">Distance</label>
                    <select class="custom-select" id="inlineFormCustomSelect" [(ngModel)]="this.metric">
                      <option *ngFor="let value of this.distanceList" [value]='value' [disabled]="!this.validList[value]">
                        {{value}}</option>
                    </select>
                <small id="key" class="text-muted">
                  Similarity metric
                </small>
              </div>

            </div>
          </div>

    </div>
  
    <span [hidden]=true id="molclipboard">XXX</span>
      
  </div>
  
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
  </div>  
