#toast-container > div {
    opacity:1;
}
body {
    /*border-top: 15px solid #e59300;*/
    /*font-family: 'Indie Flower', cursive;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
}
.btn{
    white-space:normal !important;
}

btn.bmd-btn-fab.btn-etransafe,
.bmd-btn-fab.btn-etransafe.custom-file-control::before, 
.btn.btn-raised.btn-etransafe, 
.btn-raised.btn-etransafe.custom-file-control::before, 
.btn-group-raised 
.btn.btn-etransafe, 
.btn-group-raised 
.btn-etransafe.custom-file-control::before {
    background-color: #B8DCED !important;
    color:#22577a !important;
}

.responsive-width {
    font-size: 3vw;
}

.bg-estransafe{
    background: #0076a3;
    color: white;
}

.popover-header {
    background: #B8DCED;
    color:#0076a3;
    font-weight:bold;
}

.modalClass .modal-dialog {
   
    min-width: 70vw;
    max-width: 70vw;
    min-height: 90vh;
    max-height: 90vh;
  }

.spinner {
    position: relative;
    top: 50%;
    left: 20%;
    width:30em;
    height:18em;
   /* margin-top: -9em;*/ /*set to a negative number 1/2 of your height*/
    /*margin-left: -15em;*/ /*set to a negative number 1/2 of your width*/
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 0 !important;
    content: "" !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0 !important;
    content: "" !important;
}
