
<div class="col" *ngIf="this.search.searchName != undefined" >

    <div id="overlay" *ngIf="this.search.result == undefined">
      <div class="spinner-border text-etransafe"  style="width: 10rem; height: 10rem;"  role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- this is only to show the spinner   -->
    <div id="container" *ngIf="this.search.result == undefined">
    </div>

    <div  >
    <!-- <div [hidden]="this.search.result==undefined" > -->

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-one-tab" data-toggle="tab" href="#pills-one" role="tab" aria-controls="pills-one" aria-selected="true">Results</a>
        </li>

        <li *ngIf="this.showActivity()" class="nav-item">
          <a class="nav-link" id="pills-two-tab" data-toggle="tab" href="#pills-two" role="tab" aria-controls="pills-two" aria-selected="false">RA</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent" >

        <!-- SEARCH REPORT -->
        <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
          <div class="card-body" *ngIf="this.search.result != undefined">
            <div class="model_name"> Results in: {{this.search.spaceName}} v.{{this.search.spaceVersion}} using metric: {{this.search.metric}}</div>
            <table id="similarityTable" class="table table-fixed table-bordered">
              <thead>
                <tr>
                  <th>Index</th>
                  <th s>Query name</th>
                  <th data-toggle="tooltip" data-placement="top" data-html="true" title="Query molecule from query test set">Query molecule</th>
                  <th data-toggle="tooltip" data-placement="top" data-html="true" title="Reference column ID from Reference training set">Ref ID</th>
                  <th data-toggle="tooltip" data-placement="top" data-html="true" title="Reference column name from Reference training set">Ref name</th>
                  <th data-toggle="tooltip" data-placement="top" data-html="true"  title="Reference molecule column from Reference training set">Reference molecule</th>
                  <th *ngIf="this.showDistance()" data-toggle="tooltip" data-placement="top" data-html="true" title="Similarity distance score: Tanimoto for binary descriptors and Euclidean for continues ones">Similarity</th>
                  <th *ngIf="this.showActivity()" data-toggle="tooltip" data-placement="top" data-html="true" title="Activity">Activity</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let src of this.search.nameSrc;let i=index">
                  <tr *ngFor="let pred of this.search.result[i].obj_nam;let j=index">
                    <td class="align-middle" width="">{{i}}-{{j}}</td>
                    <td class="align-middle" >{{this.search.nameSrc[i]}}</td>
                    <td class="align-middle"><canvas #cmp id="{{'query_' + i + '_' + j}}" width="300" height="150">{{this.search.smileSrc[i]}}</canvas></td>
                    <td class="align-middle">{{this.objID(i,j)}}</td>
                    <td class="align-middle">{{this.search.result[i].obj_nam[j]}}</td>
                    <td class="align-middle"><canvas #cmp id="{{'ref_' + i + '_' + j}}" width="300" height="150">{{this.search.result[i].SMILES[j]}}</canvas></td>
                    <td *ngIf="this.showDistance()" class="align-middle">{{this.search.result[i].distances[j].toFixed(3)}}</td>
                    <td *ngIf="this.showActivity()" class="align-middle">{{this.search.result[i].ymatrix[j].toFixed(3)}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>

        <!--RA REPORT -->
        <div [hidden]="!this.showActivity()" class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
          <div class="card-body" >

            <div id="ra_plot">  </div>
            <canvas id="ra_canvas"></canvas>
            
          </div>
        </div>
      </div>
    </div>  
    
    <!-- <div id="ra_plot"></div>
    <canvas id="ra_canvas"></canvas> -->

</div>  
