ul li.nav-item a {
    background:white;
    color: #0076a3;
    font-size: 1.2rem;
}
  
ul li.nav-item a.active{
background:white;
color:#22577A;
font-weight: bold;
font-size: 1.2rem;
border-bottom: 4px solid #e59300;
border-radius: 0;
}

.table {
    background-color: white;
    background: white;
    color: #22577A;
    width: 100%;
 }
.table th{
    padding-left: 1px;
    padding-right: 1px;
    border-bottom: 1px solid #B8DCED;
    color:#0076a3;
}
.table td{
    padding: 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border-bottom: 1px solid #B8DCED;
    vertical-align: middle;
}
tr {
    cursor: pointer;
}
  
tr.selected {
    background: #f7f9ea;
}
.table tbody tr:hover {
    background: #f7f9ea;
}
  
.border {
    border-width: 1px;
}
  
.card-body {
    overflow: auto;
    /* max-width: 60vw; */
    border-width: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
  }
  
.card {
    overflow: auto;
    /* max-width: 60vw; */
    border-width: 0px;
}
  
.text-etransafe {
    color:#e59300;
}

.spinner-border {
    display: block;
    position: absolute; 
    right: 45%; 
    top: 30%; 
    z-index: 1031;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #FAFAFA;
    opacity: 0.6; */
    background-color: #FFFFFF;
    opacity: 1.0;
    z-index: 2;
    cursor: pointer;
}

#container {
    display: flex;
    height: 400px;  
}

.page-link:focus {
    box-shadow: none !important;
}
  
.arrow_disabled {
color: lightgrey;
}
  