<div class="row mt-5" *ngIf = "this.search.searchName != undefined && this.search.result != undefined">
    <div class="col-12" *ngIf = "this.search.result.length > 0">
      <table id="similarityTable" class="table table-fixed table-bordered table-striped">
        <thead>
          <tr>
            <th>Index</th>
            <th s>Query name</th>
            <th data-toggle="tooltip" data-placement="top" data-html="true" title="Query molecule from query test set">Query molecule</th>
            <th data-toggle="tooltip" data-placement="top" data-html="true" title="Reference column ID from Reference training set">Reference ID</th>
            <th data-toggle="tooltip" data-placement="top" data-html="true" title="Reference column name from Reference training set">Reference name</th>
            <th data-toggle="tooltip" data-placement="top" data-html="true"  title="Reference molecule column from Reference training set">Reference molecule</th>
            <th data-toggle="tooltip" data-placement="top" data-html="true"  title="Similarity distance score: Tanimoto for binary descriptors and Euclidean for continues ones">Similarity</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let src of this.search.nameSrc;let i=index">
            <tr *ngFor="let pred of this.search.result[i].obj_nam;let j=index">
              <td class="align-middle" width="">{{i}} - {{j}}</td>
              <td class="align-middle" >{{this.search.nameSrc[i]}}</td>
              <td class="align-middle"><canvas #cmp id="{{'query_' + i + '_' + j}}" width="300" height="150">{{this.search.smileSrc[i]}}</canvas></td>
              <td class="align-middle">{{this.objID(i,j)}}</td>
              <td class="align-middle">{{this.search.result[i].obj_nam[j]}}</td>
              <td class="align-middle"><canvas #cmp id="{{'ref_' + i + '_' + j}}" width="300" height="150">{{this.search.result[i].SMILES[j]}}</canvas></td>
              <td class="align-middle">{{this.search.result[i].distances[j].toFixed(3)}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="loader" id="processing" hidden="true"></div>
    </div>

  </div>  
