a:hover {

    background: #E7E7E7;
}

a.active {
    background: #EBAB39;
    border-bottom: 1px solid #0076a3;
}
a {
    background:#22577a;
    color: #f7f9ea;
    border-bottom: 1px solid #0076a3;
}
.wrap {
    cursor:not-allowed;
}
a.disabled{
    background:#22577a;
    pointer-events: none;
}

.actions {
    background:#22577a;
    background-color:#22577a;
    color: #f7f9ea;
    border-bottom: 2px solid #0076a3;
}
/* button.disabled {
    cursor: not-allowed;
    pointer-events: none !important;
} */

label.disabled {
    cursor: not-allowed;
    pointer-events: none !important;
}

.btn.disabled, .btn:disabled {
    background-color:#bdbdbd ;
    color: #ffffff;
    cursor: not-allowed;
    pointer-events: none !important;
}

.btn-ets-delete {
    background-color: #fa1750;
    color: #ffffff;
    border-width: 0;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
    letter-spacing: 0.05em;
    border-radius: 0;
}

.btn-ets-delete:hover,
.btn-ets-delete:focus,
.btn-ets-delete.active {
    background-color:#b41147 ;
    color: #ffffff;
}

.btn-ets-do {
    background: #0076a3;
    color: #ffffff;
    border-width: 0;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
    letter-spacing: 0.05em;
    border-radius: 0;
}
.btn-ets-do:hover,
.btn-ets-do:focus,
.btn-ets-do.active {
    background:#22577a ;
    color: #ffffff;
}

.btn-ets-ext {
    background: #e9a933;
    color: #ffffff;
    border-width: 0;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica';
    letter-spacing: 0.05em;
    border-radius: 0;
}
.btn-ets-ext:hover,
.btn-ets-ext:focus,
.btn-ets-ext.active {
    background: #e59300 ;
    color: #ffffff;
}
